{% extends "layout.html" %}
{% block content %}
<h1>{{ title }} </h1>
<div class="row">
    <div class="col-md-12 text-center">
        <br>
            <h4 style="text-align:left;">Scheduled Appointments:</h4>
            <div>
                <input type="text" id="mySearch" style="background: transparent;float: left;border: 1px solid black;" onkeyup="myFunction()" placeholder="Search by Professor Name">   
                <table class="table table-hover" id="myTable">
                    <thead>
                    <tr style="background-color:green;color:white">
                        <th scope="col">Professor ID</th>
                        <th scope="col">Professor Name</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in AppointmentsData %}
                    <tr>
                        <td scope='row'>{{ data["prof_id"] }}</td>
                        <td>{{ data["prof_name"] }}</td>
                        <td>{{ data["user_id"] }}</td>
                        <td>{{ data["date"] }}</td>
                        <td>{{ data["status"] }}</td>
                    </tr>
                    {% endfor %}                    
                    </tbody>
                </table>
            </div>
    </div>
</div>
{% endblock %}